@model ToDo1.Models.ToDoList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>To Do List - @Model.Title</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>


<div># of Tasks: @Model.Tasks.Count</div>
<div class="row row-header">
    <div class="col-md-2">
        Title
    </div>
    <div class="col-md-6">
        Description
    </div>
    <div class="col-md-2">
        Status
    </div>
    <div class="col-md-2">

    </div>
</div>

@foreach (var item in Model.Tasks)
{
    if (item.ParentTaskID == 0)
    {
        <div class="row btm-bdr">
            <div class="col-md-2">
                @item.Title
            </div>
            <div class="col-md-6">
                @item.Description
            </div>
            <div class="col-md-1">
                @item.Status
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Edit", "Edit", "Task", new { id = item.ID }, new { id = item.ID + "-link" })
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Add SubTask", "SubTask", "Task", new { id = item.ID }, new { id = item.ID + "-subtask" })
            </div>
            @if (Model.Tasks.Where(x => x.ParentTaskID == item.ID).ToList().Count() > 0)
            {
                <div class="col-md-1">
                    @Html.ActionLink("SubTasks", "SubTasks", "Task", new { id = item.ID }, new { id = item.ID + "-subtask" })
                </div>
            }
        </div>

    }
}

<p>
    @Html.ActionLink("Set List Priority", "Priority", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
